*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px; /* altura do header */
    background-color: #4b1f68;
    color: #fff;
    padding: 20px 40px;
    font-size: 2em;
    /* align-items: center; */
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav li {
    position: relative;
}

nav li:hover > ul {
    display: block;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* transform: translateX(-25%); */
}

nav ul ul li {
    display: block;
}

nav a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav ul ul a {
    color: #333;
}

nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

main {
    margin-top: 100px; /* altura do header */
    height: calc(100vh - 100px); /* subtrai a altura do header da altura total da janela */
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}